<div class="ml-5 col-md-8 align-content-center">
    <h3 class="text-center">Quickbooks Company</h3>
    <div class="row">
        <input type="button" value="Read" onclick="location.href='@Url.Action("CompanyDetails", "Company")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Update" onclick="location.href='@Url.Action("UpdateCompany", "Company")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Back to home" onclick="location.href='@Url.Action("Index", "Home")'" />
    </div>
</div>

