<div class="ml-5 col-md-8 align-content-center">
    <div class="row">
        <input type="button" value="Create" onclick="location.href='@Url.Action("CreateEmployee", "Employee")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Read" onclick="location.href='@Url.Action("EmployeeDetails", "Employee")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Back to Home" onclick="location.href='@Url.Action("Index", "Home")'" />
    </div>
</div>

