
@{
    ViewBag.Title = "UpdateCategory";
}

<h2>UpdateCategory</h2>
<div class="col-md-8 ml-5 align-content-center">
    @using (Html.BeginForm("UpdateCategory", "Item", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Name")
            </div>
            <div class="col-md-5">
                <input type="text" name="name" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("SyncToken")
            </div>
            <div class="col-md-5">
                <input type="text" name="syncToken" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Submit"/>
            </div>
        </div>
    }


</div>

