<div class="ml-5 col-md-6 align-content-center">
    <h3 class="text-center">Quickbooks Customer</h3>
    <div class="row">
        <input type="button" title="Add" value="Create" onclick="location.href='@Url.Action("CreateCustomer", "Customer")'" />
    </div>
    <div class="row mt-2">
        <input type="button" title="Add" value="Read" onclick="location.href='@Url.Action("CustomerDetails", "Customer")'" />
    </div>
    <div class="row mt-2">
        <input type="button" title="Add" value="Update" onclick="location.href='@Url.Action("UpdateCustomer", "Customer")'" />
    </div>
    <div class="row mt-2">
        <input type="button" title="Home" value="Back to home" onclick="location.href='@Url.Action("Index", "Home")'" />
    </div>
</div>

