<div class="col-md-8 ml-4 align-content-center">
    <h3 class="text-center">Quickbooks Account</h3>
    <div class="row">
        <input type="button" value="Create" onclick="location.href='@Url.Action("CreateAccount", "Account")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Read" onclick="location.href='@Url.Action("AccountDetails", "Account")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Update" onclick="location.href='@Url.Action("UpdateAccount", "Account")'" />
    </div>
    <div class="row mt-2">
        <input type="button" value="Back to home" onclick="location.href='@Url.Action("Index", "Home")'" />
    </div>
</div>

